altgraph==0.17
asgiref==3.2.3
astroid==2.4.2
certifi==2019.6.16
cffi==1.14.3
chardet==3.0.4
colorama==0.4.3
cryptography==3.2.1
defusedxml==0.7.0rc1
Django==3.0.1
django-json-field==0.5.7
django-model-utils==4.0.0
django-ranged-response==0.2.0
django-simple-captcha==0.5.12
django-social-auth==0.7.28
django-utils-six==2.0
djangorestframework==3.11.0
et-xmlfile==1.0.1
future==0.18.2
httplib2==0.18.1
idna==2.8
isort==5.4.2
jdcal==1.4.1
jsonfield==3.1.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
notifications==0.3.2
oauth2==1.9.0.post1
oauthlib==3.1.0
openpyxl==3.0.3
pefile==2019.4.18
Pillow==7.2.0
psycopg2==2.8.5
public==2019.4.13
pycparser==2.20
PyInstaller==3.6
PyJWT==1.7.1
pylint==2.6.0
python-dateutil==2.8.1
python-openid==2.2.5
python3-openid==3.2.0
pytz==2020.1
pywin32-ctypes==0.2.0
query-string==2019.4.13
reportlab==3.5.34
requests==2.22.0
requests-oauthlib==1.3.0
rope==0.17.0
six==1.14.0
social-auth-app-django==4.0.0
social-auth-core==3.3.3
sqlparse==0.3.0
sweetify==2.0.0
toml==0.10.1
urllib3==1.25.7
wrapt==1.12.1
